<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Google Fonts 링크 추가 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="container">
    <!-- 왼쪽 메뉴 -->
    <nav class="sidebar">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="https://github.com/dnwldla/Phish-Guard">SourceCode</a></li>
        <li><a href="https://phish-guard.readthedocs.io/en/latest/index.html">Documentation</a></li>
        <li><a href="https://github.com/dnwldla/Phish-Guard/discussions">Discussion</a></li>
        <li><a href="https://groups.google.com/g/phishguard">Mailing Lists</a></li>
        <li><a href="https://open.kakao.com/o/gIFpDs2g">Team Chatting</a></li>
      </ul>
    </nav>

    <!-- 오른쪽 콘텐츠 영역 -->
    <main class="content">
      <h1>{{ page.title }}</h1>
      <p>{{ content }}</p>
    </main>
  </div>

  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('active');
    }
  </script>
</body>
</html>